<script>
  window.watsonAssistantChatOptions = {
    integrationID: "a5dfd763-af6c-43d7-9df9-f16d23d4328b", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "d7c78f96-5e86-4c82-90b5-84923842fff2", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------
// IBM ARTIFICIAL INTELLIGENCE PRACTITIONER FINAL PROJECT
// =============================================================================================
// Web Design Template is Powered by Bootstrap
// Webapp Design and Deployment by: Ryan
// Image Recognition Design and Deployment by: Ryan
// Webchat Design and Deployment by: All team members
//==============================================================================================
-->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GrowEat</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />

</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top" style="font-family:'Kaushan Script';">HowNowBrownCar</a> <!-- Edit 16.Aug.2021.001 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#services">Partners</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Disputes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact" id="goContact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome to the Damage Assessment Portal!</div>
            <div class="masthead-heading text-uppercase">For all your how..now..brown..car</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
        </div>
    </header>
    <!-- Section: Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Resourcesr</h2>
                <h3 class="section-subheading text-muted">Assess your car damage and be linked to any repair shops</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Services Plant Care Info -->
                    <div class="services-item">
                        <a class="services-link" data-bs-toggle="modal" href="#!">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <form action="/predict" method="post" enctype="multipart/form-data" class="services-link">
                                        <!--Display: Image Upload-->
                                            <div class="drop-zone">
                                                <spans>Click to upload</spans>
                                                <input type="file" name="file1" class="drop-zone__input" required="required" accept="image/*" onchange='if (this.value != 0) { this.form.submit(); this.form.reset(); }'>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <img class="img-fluid" src="/static/images/picIdentifyplant.jpg" alt="..." />
                        </a>
                        <div class="services-caption" style="background-color: rgba(248, 249, 250); border-radius: 0px 0px 20px 20px;">
                            <div class="services-caption-heading">Identify Plant</div>
                            <div class="services-caption-subheading text-muted">Point and click your mobile phone or tablet at any plant* and get instant identification.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Services Plant Care Info -->
                    <div class="services-item">
                        <a class="services-link" data-bs-toggle="modal" href="#!">
                            <div class="services-hover">
                                <div class="services-hover-content"><i class="fas fa-leaf fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/static/images/picPlantcare.jpg" alt="..." />
                        </a>
                        <div class="services-caption" style="background-color: rgba(248, 249, 250); border-radius: 0px 0px 20px 20px;">
                            <div class="services-caption-heading">Plant Care</div>
                            <div class="services-caption-subheading text-muted">New to plant ownership and need to learn the basics? Find answers to plant care questions.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Services Recipes -->
                    <div class="services-item">
                        <a class="services-link" data-bs-toggle="modal" href="#!">
                            <div class="services-hover">
                                <div class="services-hover-content"><i class="fas fa-leaf fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/static/images/picRecipe.jpg" alt="..." />
                        </a>
                        <div class="services-caption" style="background-color: rgba(248, 249, 250); border-radius: 0px 0px 20px 20px;">
                            <div class="services-caption-heading">Recipes</div>
                            <div class="services-caption-subheading text-muted">Discover delicious recipes that can be made from ingredients grown in your garden.</div>
                        </div>
                    </div>
                </div>
                <span style="color: darkgrey; font-size: 15px; text-align: center;">* <u>Note</u>: For the purpose of this MVP presentation, our dataset is limited to only Basil, Brinjal, Rosemary and Tomato <br>to fit within the free storage capacity of online app deployment platform.</span>
            </div>
        </div>
    </section>

    <!-- Section: Events -->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Events</h2>
                <h3 class="section-subheading text-muted">A list of gardening events, including festivals, presentations, symposiums, exhibits and more in locations on the island.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Event 1 -->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#!">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/static/assets/img/events/eventPasirPanjangNursery.jpg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Community Garden Fest</div>
                            <div class="portfolio-caption-subheading text-muted">Pasir Panjang Nursery</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Event 2 -->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#!">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/static/assets/img/events/eventHortPark.jpg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Gardeners' Day Out</div>
                            <div class="portfolio-caption-subheading text-muted">HortPark</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Event 3 -->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#!">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/static/assets/img/events/eventTherapeuticGardenTelokBlangah.jpg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Herb Garden Tour</div>
                            <div class="portfolio-caption-subheading text-muted">Therapeutic Garden at Telok Blangah</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">Grow & Eat is a buzzing hub of inspiration, knowledge and plants for gardeners and plant enthusiasts.</h3>
            </div>
        </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Meet the people that make the magic happen.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/static/assets/img/team/team-lance.jpg" alt="..." />
                        <h4>Lance Ng</h4>
                        <p class="text-muted">Project Lead</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/static/assets/img/team/team-diana.jpg" alt="..." />
                        <h4>Diana Ni</h4>
                        <p class="text-muted">Creative Leader</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/static/assets/img/team/team-jinsim.jpg" alt="..." />
                        <h4>Teh Jin Sim</h4>
                        <p class="text-muted">Lead Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <!-- Team Second Row -->
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/static/assets/img/team/team-allen.jpg" alt="..." />
                            <h4>Allen Tan</h4>
                            <p class="text-muted">Data Engineer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/static/assets/img/team/team-ryan.jpg" alt="..." />
                            <h4>Ryan Yeo</h4>
                            <p class="text-muted">Design Lead</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Our team draws on broad industry experience and networks to create the most enriching experience for the community.</p></div>
            </div>
        </div>
    </section>
    <!-- Clients-->
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/microsoft.svg" alt="..." /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/google.svg" alt="..." /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/facebook.svg" alt="..." /></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/ibm.svg" alt="..." /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading text-muted">Whether you have a question about features or anything else, our team is ready to answer all your questions.</h3>
            </div>

            <!-- Forms Contact Form -->
            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- Name input-->
                            <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <div class="form-group">
                            <!-- Email address input-->
                            <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <div class="form-group mb-md-0">
                            <!-- Phone number input-->
                            <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-textarea mb-md-0">
                            <!-- Message input-->
                            <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                    </div>
                </div>
                <!-- Submit success message-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center text-white mb-3">
                        <div class="fw-bolder">Form submission successful!</div>
                    </div>
                </div>
                <!-- Submit error message-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                <!-- Submit Button-->
                <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
            </form>
        </div>
    </section>
    <!-- Map-->
    <div class="map" id="footermap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.815736985871!2d103.84915601460534!3d1.284489062140131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1909455a0d1f%3A0x776490e9ea8fbd16!2sRaffles%20Pl!5e0!3m2!1sen!2ssg!4v1629098485000!5m2!1sen!2ssg"></iframe>
        <br />
        <small><a href="https://goo.gl/maps/Gam9DgzS45Vk5wDF9"></a></small>
    </div>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Grow & Eat 2021<br><span style="color: darkgrey;">Designed by Ryan with Bootstrap</span></div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>

    <!--
    **************************************************************************************************
    Scripts
    **************************************************************************************************
    -->
    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- Responsive Navigation Menu Bar -->
    <script>
        window.addEventListener('DOMContentLoaded', event => {

            // Navbar shrink function
            var navbarShrink = function () {
                const navbarCollapsible = document.body.querySelector('#mainNav');
                if (!navbarCollapsible) {
                    return;
                }
                if (window.scrollY === 0) {
                    navbarCollapsible.classList.remove('navbar-shrink')
                } else {
                    navbarCollapsible.classList.add('navbar-shrink')
                }

            };

            // Shrink the navbar
            navbarShrink();

            // Shrink the navbar when page is scrolled
            document.addEventListener('scroll', navbarShrink);

            // Activate Bootstrap scrollspy on the main nav element
            const mainNav = document.body.querySelector('#mainNav');
            if (mainNav) {
                new bootstrap.ScrollSpy(document.body, {
                    target: '#mainNav',
                    offset: 74,
                });
            };

            // Collapse responsive navbar when toggler is visible
            const navbarToggler = document.body.querySelector('.navbar-toggler');
            const responsiveNavItems = [].slice.call(
                document.querySelectorAll('#navbarResponsive .nav-link')
            );
            responsiveNavItems.map(function (responsiveNavItem) {
                responsiveNavItem.addEventListener('click', () => {
                    if (window.getComputedStyle(navbarToggler).display !== 'none') {
                        navbarToggler.click();
                    }
                });
            });

        });
    </script>

    <!-- Script: Image Upload -->
    <script>
        document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
            const dropZoneElement = inputElement.closest(".drop-zone");

            dropZoneElement.addEventListener("click", (e) => {
                inputElement.click();
            });

            inputElement.addEventListener("change", (e) => {
                if (inputElement.files.length) {
                    updateThumbnail(dropZoneElement, inputElement.files[0]);
                }
            });

            dropZoneElement.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropZoneElement.classList.add("drop-zone--over");
            });

            ["dragleave", "dragend"].forEach((type) => {
                dropZoneElement.addEventListener(type, (e) => {
                    dropZoneElement.classList.remove("drop-zone--over");
                });
            });

            dropZoneElement.addEventListener("drop", (e) => {
                e.preventDefault();

                if (e.dataTransfer.files.length) {
                    inputElement.files = e.dataTransfer.files;
                    updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                }

                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        /**
         * Updates the thumbnail on a drop zone element.
         *
         * @param {HTMLElement} dropZoneElement
         * @param {File} file
         */
        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

            // First time - remove the prompt
            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                dropZoneElement.querySelector(".drop-zone__prompt").remove();
            }

            // First time - there is no thumbnail element, so lets create it
            if (!thumbnailElement) {
                thumbnailElement = document.createElement("div");
                thumbnailElement.classList.add("drop-zone__thumb");
                dropZoneElement.appendChild(thumbnailElement);
            }

            thumbnailElement.dataset.label = file.name;

            // Show thumbnail for image files
            if (file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = () => {
                    thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                };
            } else {
                thumbnailElement.style.backgroundImage = null;
            }
        }
    </script>

    <!-- Script: Webchat Custom Launcher -->
    <button type="button" class="chatLauncher" style="display:none;">
        <div>
            <strong>Have questions?</strong> Ask Ah Bot our Virtual Assistant.
        </div>
    </button>

    <!--Script: Webchat Custom Launcher-->
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "d227e822-7c09-4ead-a2ce-e1ec96835baa", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "997476bf-0e7c-4dff-a1fa-36e538910349", // The ID of your service instance.

            showLauncher: false,
            onLoad: function (instance) {

                // Detect location
                function handleLocationSend(event) {
                    console.log('On entry to pre:send: ', event.data);
                    if (event.data.input.text === "Detect location") {
                        //  Creating a promise out of the function
                        //  Using Navigator to obtain current user location
                        return new Promise((resolve, reject) => {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(function (position) {

                                    lat = position.coords.latitude
                                    long = position.coords.longitude

                                    console.log('Before updating location: ', event.data.context.skills['main skill'].user_defined.location);
                                    event.data.context.skills['main skill'].user_defined.latitude = lat;
                                    event.data.context.skills['main skill'].user_defined.longitude = long;
                                    event.data.context.skills['main skill'].user_defined.location = true;
                                    console.log('After updating location: ', event.data.context.skills['main skill'].user_defined.location);

                                    resolve({
                                    })
                                })
                            } else {
                                reject("Your browser doesn't support geolocation API")
                            }
                        })
                    }
                }
                instance.on({ type: "pre:send", handler: handleLocationSend });

                // Select the button element from the page.
                const button = document.querySelector('.chatLauncher');

                // Add the event listener to open your web chat.
                button.addEventListener('click', function clickListener() {
                    instance.openWindow();
                });

                // Render the web chat. Nothing appears on the page, because the launcher is
                // hidden and the web chat window is closed by default.
                instance.render().then(function () {
                    // Now that web chat has been rendered (but is still closed),
                    // make the custom launcher button visible.
                    button.style.display = 'block';
                    button.classList.add('open');
                });
            }
        };

        setTimeout(function () {
            const t = document.createElement('script');
            t.src = 'https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js';
            document.head.appendChild(t);
        });
    </script>

    <!-- Script: Watson Assistant
    <!--<script>
        window.watsonAssistantChatOptions = {
            integrationID: "d227e822-7c09-4ead-a2ce-e1ec96835baa", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "997476bf-0e7c-4dff-a1fa-36e538910349", // The ID of your service instance.
            onLoad: function (instance) {

                // Allen WA
                // integrationID: "d227e822-7c09-4ead-a2ce-e1ec96835baa", // The ID of this integration.
                // region: "us-south", // The region your integration is hosted in.
                // serviceInstanceID: "997476bf-0e7c-4dff-a1fa-36e538910349", // The ID of your service instance.

                // Ryan WA
                // integrationID: "73901565-d0e6-4a25-8245-66b8ffc71592", // The ID of this integration.
                // region: "us-south", // The region your integration is hosted in.
                // serviceInstanceID: "ca05e007-6c58-456d-8dfe-deb081913c59", // The ID of your service instance.

                // Detect location
                function handleLocationSend(event) {
                    console.log('On entry to pre:send: ', event.data);
                    if (event.data.input.text === "Detect location") {
                        //  Creating a promise out of the function
                        //  Using Navigator to obtain current user location
                        return new Promise((resolve, reject) => {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(function (position) {

                                    lat = position.coords.latitude
                                    long = position.coords.longitude

                                    console.log('Before updating location: ', event.data.context.skills['main skill'].user_defined.location);
                                    event.data.context.skills['main skill'].user_defined.latitude = lat;
                                    event.data.context.skills['main skill'].user_defined.longitude = long;
                                    event.data.context.skills['main skill'].user_defined.location = true;
                                    console.log('After updating location: ', event.data.context.skills['main skill'].user_defined.location);

                                    resolve({
                                    })
                                })
                            } else {
                                reject("Your browser doesn't support geolocation API")
                            }
                        })
                    }
                }
                instance.on({ type: "pre:send", handler: handleLocationSend });

                // Render webchat
                instance.render();
            }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
            document.head.appendChild(t);
        });
    </script>-->
</body>
</html>
